<% if !!flash[:song_errors] %>
    <% flash[:song_errors].each do |e| %>
        <div class="alert alert-danger" role="alert">
            Song: <%= e %>
        </div>
    <% end %>
<% end %>
<%= render 'artists/songs/form', song: @song %>